---
root: true
env:
    node: true
    es6: true
extends: mitmaro
rules:
    no-underscore-dangle:
        - error
        -
            allowAfterThis: true
            allowAfterSuper: true
    no-constant-condition:
        - error
        - checkLoops: false
    no-extra-parens:
        - error
        - all
        - nestedBinaryExpressions: false
    no-undefined: off
    prefer-reflect: off # not supported in node 4